<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBNB</title>
    <script src="{{ url_for('static', filename='scripts/3-hbnb.js') }}?cache_id={{ cache_id }}"></script>
</head>
<body>
    <header>
        <div id="api_status" class="available"></div>
        <h1>Welcome to HBNB!</h1>
        <!-- Other header content -->
    </header>
    <section class="places">
        <!-- Places will be dynamically added here -->
    </section>
</body>
</html>
