footer {
    position: fixed;
    background: white;
    height: 60px;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #CCCCCC;
}

footer {
    background-color: white; 
    height: 60px; 
    width: 100%;
    border-top: 1px solid #575757;  
    display:flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    bottom: 0;
}
