header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
api_status {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 30px;
    background: #cccccc;
}
.available {
    background: #ff545f;
}
