header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    width: 150px;
    margin-left: 20px;
    height: 100%;
}

#api_status {
    width: 40px;
    height: 40px;
    margin-right: 30px;
    background-color: #cccccc;
    border-radius: 50%;;
}

#api_status.available {
    background-color: #ff545f;
}