header {
    background: white;
    height: 70px;
    width: 98%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
    width: 50%;
}

header #api_status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #cccccc;
}

header div.available {
    background-color: #ff545f;
}
