header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
    right: 30px;
    top: 15px;
    text-align: right;
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #cccccc;
    border-radius: 50%;
}

#api_status.available {
    background-color: #ff545f;
}
