header {
    background: white;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #CCCCCC;
    padding-left: 20px;
    padding-right: 20px;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    height: 70px;
    width: 160px;
}
header #api_status {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #cccccc;
}

.available {
    background: #ff545f !important;
}
