header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .logo {
    background: url("../images/logo.png") no-repeat center;
    padding-left: 20px;
    height: 60px;
    width: 142px;
}

#api_status {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 30px;
    background-color: #CCCCCC;
}

#api_status.available {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    margin-right: 30px;
    background-color: #ff545f
}
