header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

header div {
    background-color: red;
    width: 40px;
    border-radius: 50%;
    line-height: 35px;
    margin-right: 30px;
}
