header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

/* style for api_status */
#api_status {
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #CCCCCC;
    border-radius: 50%;
}

/* style for api_status available */
#api_status.available{
    background-color: #ff545f;
}
