header {
  background-color: #ffffff;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-position: 20px 50%;
  height: 70px;
  width: 100%;
  border-bottom: 1px solid #cccccc;
}

#api_status {
  float: right;
  margin-right: 30px;
  margin-top: 15px;
  margin-bottom: 15px;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #cccccc;
}

#api_status.available {
  background-color: #ff545f;
}
