header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

header .logo {
    background: url("../images/logo.png") no-repeat;
    margin-left: 20px;
    height: 100%;
    width: 100%;
}

#api_status {
    background-color: #CCCCCC;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
}

#api_status.available {
    background-color: #ff545f;
}
