@charset "UTF-8";
/** Holberton Practice Styles
 * ------ Header
 */

header {
	background-color: #FFFFFF;
	background-image: url("../images/logo.png");
	background-repeat: no-repeat;
	background-position: 20px 50%;
	height: 70px;
	width: 100%;
	border-bottom: 1px solid #CCCCCC;
}

#api_status {
        height: 40px;
        width: 40px;
        background-color: #cccccc;
        border-radius: 40px;
        float: right;
        margin-right: 35px;
        margin-top: 15px;
}

#api_status.available {
        background-color: #ff545f;
}
