header {
    position: relative;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
#api_status {
    width: 40px;
    height: 40px;
    position: absolute;
    background-color: #cccccc;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;
}
#api_status.available {
    background-color: #ff545f;
}
