header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    position: relative;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

header #api_status {
    background-color: #cccccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    right: 30px;
    position: absolute;
    margin-top: -55px;
}

header #api_status.available {
    background-color: #ff545f;
}