header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}

#api_status {
    right: 30px;
    background-color: #cccccc
    height: 40px;
    width: 40px;
}

#api_status.available {
    background-color: #FF545F;
}