header {
    display: flex;
    justify-content:space-around;
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    margin-left: 20px;
    width: 100%;
    height: 100%;
}
div#api_status {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right:  30px;
    background-color: #cccccc;
}
.available {
    background-color: #ff545f !important
}
