header {
    background: white;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
header .logo {
    background: url("../images/logo.png") no-repeat;
    left: 20px;
    height: 100%;
}
#api_status {
    margin-left: auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-right: 30px;
    background-color: #ccc;
    float: right;
    margin-top: 15px;
}
.available {
    background-color: #ff545f !important;
}
