.filters {
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    align-items: center;
}

.button-filter {
    font-size: 18px;
    background-color: #FF5A5F;
    color: #FFFFFF;
    height: 48px;
    width: 20%;  /*20% of the section filters */
    border-radius: 4px;
    margin-right: 30px;
    float: right;
    position: relative;
    top: 12.5%;
}

.button-filter:hover {
    opacity: 90%;
}

.input {
    margin-right: 10px;
}

h3 {
    font-weight: 600;
    margin-bottom: 5px;
}

h4 {
    margin-top: 0px;
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.locations {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    width:25%;
    height:100%;
    border-right:#DDDDDD solid 1px;
    position: relative;
}

.amenities {
    position: relative;
    display: inline-block;
    margin-left: 30px;
    width: 25%;
    height: 100%;
}

.popover {
    display: none;
    position: absolute;
    background-color: #FAFAFA;
    width: 86%;
    padding: 12px 16px;
    list-style: none;
    border: #DDDDDD 1px solid;
    border-radius: 4px;
    padding: 30px;
    margin-bottom:0px;
    margin-top: 0px;
}

.popover li {
    list-style: none;
}

.popover h2 {
    font-size: 16px;
}
  
.locations:hover .popover {
    display: block;
    margin-left: -30px;
}

.amenities:hover .popover {
    display: block;
    margin-left: -35px;
}